services:
  kernel.event_listener.route_match:
    class: Opstalent\SecurityBundle\EventSubscriber\KernelControllerSubscriber
    arguments:
      - "@router"
      - "@security.token_storage"
    tags:
      - { name: kernel.event_subscriber }

  kernel.event_listener.repository:
    class: Opstalent\SecurityBundle\EventSubscriber\RepositorySubscriber
    arguments:
      - "@router"
      - "@security.token_storage"
    tags:
      - {name: kernel.event_listener, event:before.search.by.filter, method:beforeSearchByFilter}
      - {name: kernel.event_listener, event:before.persist, method:beforePersist}
      - {name: kernel.event_listener, event:before.remove, method:beforeRemove}