services:
  kernel.event_listener.route_match:
    class: Opstalent\SecurityBundle\EventSubscriber\KernelControllerSubscriber
    arguments:
      - "@router"
      - "@security.token_storage"
    tags:
      - { name: kernel.event_subscriber }

  kernel.event_listener.repository:
    class: Opstalent\SecurityBundle\EventSubscriber\RepositorySubscriber
    arguments:
      - "@router"
      - "@security.token_storage"
      - "@request_stack"
    tags:
      - { name: kernel.event_subscriber }
